<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>PBS LearningMedia</title>
        <meta name="description" content="PBS Learning Media Home Page" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="google-site-verification" content="yilY5tuPx_ew6yGapgQeyd4JGfom6QMyiDqzocHQ2Fc" />
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,700,300italic,500italic,400italic,700italic|Roboto+Condensed:300,700italic,400,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
    
    <link href="/static/station/css/homepage.css" type="text/css" rel="stylesheet" />
    <link href="/static/station/css/resource-pages.css" type="text/css" rel="stylesheet" />


        <script type="text/javascript" src="/static/station/js/vendor/modernizr-2.7.1-custom.min.js"></script>
        <!--[if (lt IE 9) ]>
            <script type="text/javascript" src="/static/station/js/vendor/respond.min.js"></script>
        <![endif]-->
    </head>
    <body class="station">
        
        
        <section class="container">
            <div class="row home-header-container">
                <div class="col-xs-16  col-sm-4  col-md-4  col-lg-4">
                    <header role="banner" class="home-logo">
                        <h1 class="sr-only"><a href="/" alt="Go to homepage">PBS LearningMedia</a></h1><a href="/" alt="Go to homepage"><img src="/static/station/images/PBSLM-logo.svg" class="logo-img" alt="PBS LearningMedia logo" /></a>
                    </header>
                    <a class="navbar-toggle" aria-hidden="true" data-target="#mobile-nav" href="#">
                        <span class="sr-only">Toggle navigation</span><i class="lm lm-menu"></i><i class="lm lm-cross"></i>
                    </a>
                    <div class="nav-item mobile log-in-out">
                        
                        <a href="/uua/login/?next=/">Log In</a>
                        
                    </div>
                    <div class="nav-container no-lap clearfix">
                        <nav class="main-navigation mobile" id="mobile-nav">
                            <ul class="no-list-style">
                                <li class="nav-item home-nav"><a href="#">Home</a></li>
                                <li class="nav-item home-nav"><a href="#"><i class="lm lm-star-o"></i> Favorites</a></li>
                                <li class="nav-item home-nav"><a href="#"><i class="lm lm-happyface"></i> Profile</a></li>
                                <li class="nav-item home-nav"><a href="#"><i class="lm lm-question-o"></i> Help</a></li>
                            </ul>
                            <ul class="secondary-nav__nav--mobile  matrix  two-cols">
                                <li class="secondary-nav__item"><a href="#">About </a></li>
                                <li class="secondary-nav__item"><a href="#">Contact Us </a></li>
                                <li class="secondary-nav__item"><a href="#">News / Press </a></li>
                                <li class="secondary-nav__item"><a href="#">Terms of Use </a></li>
                                <li class="secondary-nav__item"><a href="#">Partners </a></li>
                                <li class="secondary-nav__item"><a href="#">Privacy Policy </a></li>
                                <li class="secondary-nav__item"><a href="#">Standards </a></li>
                                <li class="secondary-nav__item"><a href="#">Help </a></li>
                                <li class="secondary-nav__item"><a href="#">Station Information </a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-sm-12  col-md-12  col-lg-12">
                    <nav class="main-navigation hidden-xs" role="navigation">
                        <ul class="nav-ab" id="main-navigation">
                            <li class="nav-item home-nav"><span class="dashboard-text"><a href="/help/"><i class="lm lm-question-o"></i> Help</a><span class="dashboard-subtext hidden-sm">FAQ, Feedback</span></span></li><li class="nav-item home-nav  log-in-out  lap-and-up"><a href="/uua/login/?next=/">Log In</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </section>
        
        
        
        <div class="container-fluid home search-container" id="site-browse">
            <div class="container">
            <form method="GET" action="/search/">
                    <div class="clearfix">
                        <div class="search-input-container">
                            <i class="lm lm-search s-icon"></i><input type="search" placeholder="Search" name="q"/>
                        </div>                
                        <div class="browse-btns">
                            <a class="browse-grade" href="#">Browse by Grade &amp; Subject <i class="lm lm-triangle-down"></i></a>
                            <a class="browse-standards" href="/standards/0/" >Browse Standards</a>
                        </div>
                    </div>
                <div class="search-form-filters">
                    <fieldset>
                        <h3 class="lap-and-up">Grades </h3>
                        <ul class="matrix  three-cols">
                            <li><label><input type="checkbox" />Pre-K</label></li>
                            <li><label><input type="checkbox" />K</label></li>
                            <li><label><input type="checkbox" />1</label></li>
                            <li><label><input type="checkbox" />2</label></li>
                            <li><label><input type="checkbox" />3</label></li>
                            <li><label><input type="checkbox" />4</label></li>
                            <li><label><input type="checkbox" />5</label></li>
                            <li><label><input type="checkbox" />6</label></li>
                            <li><label><input type="checkbox" />7</label></li>
                            <li><label><input type="checkbox" />8</label></li>
                            <li><label><input type="checkbox" />9</label></li>
                            <li><label><input type="checkbox" />10</label></li>
                            <li><label><input type="checkbox" />11</label></li>
                            <li><label><input type="checkbox" />12</label></li>
                            <li><label><input type="checkbox" />13+</label></li>
                        </ul>
                    </fieldset>
                    <fieldset>
                        <h3 class="lap-and-up">Subjects </h3>
                        <ul class="matrix two-cols desk-and-up">
                            <li><label><input type="radio" name="subject" />The Arts </label></li>
                            <li><label><input type="radio" name="subject" />English Language Arts and Literacy </label></li>
                            <li><label><input type="radio" name="subject" />Health and Physical Education </label></li>
                            <li><label><input type="radio" name="subject" />Mathematics </label></li>
                            <li><label><input type="radio" name="subject" />Preschool </label></li>
                            <li><label><input type="radio" name="subject" />Professional Development </label></li>
                            <li><label><input type="radio" name="subject" />Science </label></li>
                            <li><label><input type="radio" name="subject" />Social Studies </label></li>
                            <li><label><input type="radio" name="subject" />World Languages </label></li>
                        </ul>
                        <select class="subject-select no-desk">
                            <option value="">The Arts</option>
                            <option value="">English Language Arts and Literacy</option>
                            <option value="">Health and Physical Education</option>
                            <option value="">Mathematics</option>
                            <option value="">Preschool</option>
                            <option value="">Professional Development</option>
                            <option value="">Science</option>
                            <option value="">Social Studies</option>
                            <option value="">World Languages</option>
                        </select>
                    </fieldset>
                    <input type="submit"  value="Search Selected Grades and Subject" class="search-form-submit" />
                </div>
            </form>            
            </div>
        </div>
        
    <div class="content-area">

        <!-- note for DJANGO: Extends resource page -->
        <!-- BEGIN SEARCH PG -->
        <main role="main" class="container">
        <div class="row">
            <!--BEGIN SEARCH PGSIDE BAR-->
            <div class="col-xs-16 col-md-4">
                
                <div class="search-summary std-wb std-mgb standardBoxShadow hidden-md hidden-lg">
                    900 results for &ldquo;wild kratts&rdquo;
                    <span class="pull-right">

                    </span>
                </div>
                
                <!-- GRADES FACET-->
                <div class="facets std-wb std-mgb standardBoxShadow">
                    <a href="#" id="facet-grade-title" data-target="#grade-facet-container" class="std-collapse-title std-show-hide toggle-facet-container js-open"><!--open by default--><i class="lm lm-dash-add"></i><i class="lm lm-dash-delete"></i><b>Grades</b>
                    </a>
                    <div class="facet-container js-open" id="grade-facet-container">
                        <form method="GET" action="">
                            <input type="hidden" name="q" value="wild kratts" />
                            <input type="hidden" name="order" value="" />
                            <input type="hidden" name="selected_facets" value="supplemental_curriculum_hierarchy_nodes:1880" />
                            <input type="hidden" name="selected_facets" value="resource_distribution_type_exact:0" />
                            <ul class="facet-grades no-list-style two-cols clearfix">
                                <li data-felem="2">
                                   <input type="checkbox"
                                        id="selected_facets-2-1"
                                        name="selected_facets" value="grades_exact:2"
                                        onclick="this.form.submit()"
                                        
                                    />
                                   <label class="facet-name" for="selected_facets-2-1">2 <span class="facet-count">(1)</span></label>
                                </li>
                            
                                <li data-felem="3">
                                   <input type="checkbox"
                                        id="selected_facets-3-2"
                                        name="selected_facets" value="grades_exact:3"
                                        onclick="this.form.submit()"
                                        
                                    />
                                   <label class="facet-name" for="selected_facets-3-2">3 <span class="facet-count">(35)</span></label>
                                </li>
                            
                                <li data-felem="4">
                                   <input type="checkbox"
                                        id="selected_facets-4-3"
                                        name="selected_facets" value="grades_exact:4"
                                        onclick="this.form.submit()"
                                        
                                    />
                                   <label class="facet-name" for="selected_facets-4-3">4 <span class="facet-count">(39)</span></label>
                                </li>
                            
                                <li data-felem="5">
                                   <input type="checkbox"
                                        id="selected_facets-5-4"
                                        name="selected_facets" value="grades_exact:5"
                                        onclick="this.form.submit()"
                                        
                                    />
                                   <label class="facet-name" for="selected_facets-5-4">5 <span class="facet-count">(44)</span></label>
                                </li>
                                
                            </ul>
                        </form>
                    </div>
                </div>
                <!-- /GRADES-->

                <!-- SUBJECT FACETS -->
                <!-- NOTE JS EVENT HANDLING - - There is an onclick in place for '.toggle-facet-container' for the anchor links, if this conflicts with AJAX onclick then remove it and trigger it later-->
                <div class="facets std-wb std-mgb standardBoxShadow">
                    <a href="#" id="subject-facet-title" data-target="#subject-facet-container" class="std-collapse-title std-show-hide toggle-facet-container"><i class="lm lm-dash-add"></i><i class="lm lm-dash-delete"></i><b>Subject</b>
                    </a>
                    <!--SUBJECT NODES CONTAINER-->
                    
                    <!-- Note the markup pattern below can be nested 
                        
                        <div class="facet-container" id="guid-XX">
                            <ul class="no-list-style std-wb">
                                <a href="#" class="std-collapse-title std-show-hide toggle-facet-container" data-target="#facet-guid-xxxx"><i class="lm lm-dash-add"></i><i class="lm lm-dash-delete"></i>SAMPLE TEXT</a> (XX)
                                <li>
                                    <div class="facet-container" id="guid-YY"><ul ... ETC </div>
                                </li>
                            </ul>
                        </div>
                        
                        

                    -->
                    <div class="facet-container" id="subject-facet-container">
                        <ul class="no-list-style std-wb">
                            <!-- IF NO SUBNODES THEN OMIT the <i> tags -->
                            <li>
                                <a href="#" class="std-collapse-title std-show-hide toggle-facet-container" data-target="#facet-guid-100"><i class="lm lm-dash-add"></i><i class="lm lm-dash-delete"></i>English Language Arts and Literacy</a> (69)
                                <div class="facet-container" id="facet-guid-100">
                                    <ul class="no-list-style std-wb">
                                        <li>
                                            <a href="#" class="std-collapse-title std-show-hide toggle-facet-container" data-target="#facet-guid-200"><i class="lm lm-dash-add"></i><i class="lm lm-dash-delete"></i>ELA Writing</a> (49)
                                            <div class="facet-container" id="facet-guid-200">
                                                <ul class="no-list-style std-wb">
                                                    <li>
                                                        <a href="#" class="std-collapse-title std-show-hide toggle-facet-container" data-target="#facet-guid-300"><i class="lm lm-dash-add"></i><i class="lm lm-dash-delete"></i>Production and distribution of writing</a> (29)
                                                        <div class="facet-container" id="facet-guid-300">
                                                            <!-- Note: innermost UL should use "inside-list-style" instead of "no-list-style" -->
                                                            <ul class="inside-list-style std-wb">
                                                                <li><a href="#">Planning Editing and Revising</a> (12)</li>
                                                                <li>Technology to produce and publish (19) </li>
                                                            </ul>
                                                        </div>
                                                    
                                                    </li>
                                                    <li><a href="#">Caption</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li><a href="#">Caption</a></li>
                                    </ul>
                                </div>
                            </li>
                            <!-- No sub nodes sample -->
                            <li><a href="#">Lesson Plan</a> (50)</li>
                        </ul>
                    </div>
                </div>
                <!--/ SUBJECT FACET -->

                <!-- GENERIC facet list -->
                <!-- USAGE: Media type, Language or Permitted Use-->
                <div class="facets std-wb std-mgb standardBoxShadow">
                    <a href="#" id="generic-facet-title" data-target="#facet-container1" class="std-collapse-title std-show-hide toggle-facet-container"><i class="lm lm-dash-add"></i><i class="lm lm-dash-delete"></i><b>Media Type, Language, Permitted</b>
                    </a>
                    <div class="facet-container" id="facet-container1">
                        <ul class="no-list-style std-wb">
                            <li><a href="#">Video</a></li>
                            <li><a href="#">Lesson Plan</a></li>
                        </ul>
                    </div>
                </div>
                <!--/GENERIC FACET-->

                <!--ACCESSIBILITY FACET-->
                <div class="facets std-wb std-mgb standardBoxShadow">
                    <a href="#" id="access-facet-title" data-target="#access-facet-container" class="std-collapse-title std-show-hide toggle-facet-container"><i class="lm lm-dash-add"></i><i class="lm lm-dash-delete"></i><b>Accessiblity</b>
                    </a>
                    <div class="facet-container" id="access-facet-container">
                        <ul class="no-list-style std-wb">
                            <!--REPEATABLE ITEM-->
                            <li>
                                <a href="#" id="access-facet-title-000" data-target="#facet-id-000" class="std-collapse-title std-show-hide toggle-facet-container"><i class="lm lm-dash-add"></i><i class="lm lm-dash-delete"></i>Adaptation Types
                                </a>
                                <div class="facet-container" id="facet-id-000">
                                    <ul class="no-list-style std-wb">
                                        <li><a href="#">Audio Description</a></li>
                                        <li><a href="#">Caption</a></li>
                                    </ul>
                                </div>
                            </li><!--/REPEATABLE-->
                            <li>
                                <a href="#" id="access-facet-title-001" data-target="#facet-id-001" class="std-collapse-title std-show-hide toggle-facet-container"><i class="lm lm-dash-add"></i><i class="lm lm-dash-delete"></i>Control Flexibility
                                 </a>
                                <div class="facet-container" id="facet-id-001">
                                    <ul class="no-list-style std-wb">
                                        <li><a href="#">Full keyboard controls</a></li>
                                        <li><a href="#">Full mouse control</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--ACCESSIBILITY FACET-->
            </div>
            <!--/SIDE BAR-->
            <!--BEGIN SEARCH PG CONTENT AREA-->
            <div class="col-xs-16 col-md-12 std-mgb">
                <div class="search-summary std-wb standardBoxShadow hidden-xs hidden-sm">
                    900 results for &ldquo;wild kratts&rdquo;
                    <span class="pull-right">
                        <form method="GET" action="" class="sort-by-form" id="sort-by-form">
                            <input type="hidden" name="q" value="{{ query }}"/>
                            <input type="hidden" name="selected_facets" value="{{ facet }}" />
                            <label for="id_order">Sort by : </label>
                            <select id="id_order" name="order" onchange="this.form.submit()">
                                <option value="" selected>Relevance</option>
                                <option value="title_for_sort">A-Z Order</option>
                                <option value="-title_for_sort">Z-A Order</option>
                                <option value="-last_modified">Newest First</option>
                                <option value="last_modified">Oldest First</option>
                                <option value="-view_count">Most Viewed</option>
                                <option value="-favorite_count">Most Favorited</option>
                             </select>
                        </form>
                    </span>
                </div>
                <div class="search-img-toggle">
                    <input type="checkbox" id="hide-images" name="hide-images" class="hide-images-toggle" 
                        {% if request.session.images_on != None and not request.session.images_on %}checked="checked"{% endif %}
                    />
                    <label for="hide-images">Turn images off</label>
                </div>

                <div class="search-results-container" id="search-results-container">
                    <div class="row search-results">               
                    <!--BEGIN REPEATABLE ITEM -->
                        <div class="search-item">
                            <div class="std-wb std-mgb standardBoxShadow">
                                <figure>
                                 <a href="#"><img src="http://image.pbs.org/poster_images/assets/5384.JPG.resize.710x399.jpg" alt="<!-- django source -->"/></a>   
                                </figure>
                                
                                <div class="search-item-caption hiddden-lg clearfix"><span class="pull-left">VIDEO</span><span class="pull-right">00:15:00</span></div>
                                <div class="search-item-info">
                                    <h4><a href="#">Water Walking Kratts</a><br/></h4>
                                    Watch as Chris and Martin try to immitate the Basilisk lizard and run on water. They quickly figure out that it is a combination of ...
                                </div>
                                <div class="clearfix">
                                    <span class="search-item-grades pull-left">Grades K-12</span>
                                    <span class="search-item-fave pull-right"><i class="lm lm-star"></i><span class="sr-only">add to favorites</span></span>    
                                </div>
                                <div class="search-item-provider">
                                    <span>Provided by:</span><br/>
                                    Wild Kratts and PBS Viewers like you with Contributions 
                                </div>
                            </div>
                        </div>

                        <!-- below items not needed for DJANGO -->
                             

                        <div class="search-item">
                            <div class="std-wb std-mgb standardBoxShadow">
                                <figure>
                                 <a href="#"><img src="http://image.pbs.org/poster_images/collections/WK.jpg.resize.320x180.jpg" alt="<!-- django source -->"/></a>   
                                </figure>
                                
                                <div class="search-item-caption hiddden-lg clearfix"><span class="pull-left">VIDEO</span><span class="pull-right">00:15:00</span></div>
                                <div class="search-item-info">
                                    <h4><a href="#">Water Walking Kratts</a><br/></h4>
                                    Watch as Chris and Martin try to immitate the Basilisk lizard and run on water. They quickly figure out that it is a combination of ...
                                </div>
                                <div class="clearfix">
                                    <span class="search-item-grades pull-left">Grades K-12</span>
                                    <span class="search-item-fave pull-right"><i class="lm lm-star"></i><span class="sr-only">add to favorites</span></span>    
                                </div>
                                <div class="search-item-provider">
                                    <span>Provided by:</span><br/>
                                    Wild Kratts and PBS Viewers like you with Contributions 
                                </div>
                            </div>
                        </div><div class="search-item">
                            <div class="std-wb std-mgb standardBoxShadow">
                                <figure>
                                 <a href="#"><img src="http://image.pbs.org/poster_images/alfresco/u/pr/Kratts/Water%20Walking%20Kratts_9bb5b8e3-d55c-4321-a568-29617b9531f3/krattswaterwalk_large.png.resize.710x399.png" alt="<!-- django source -->"/></a>   
                                </figure>
                                
                                <div class="search-item-caption hiddden-lg clearfix"><span class="pull-left">VIDEO</span><span class="pull-right">00:15:00</span></div>
                                <div class="search-item-info">
                                    <h4><a href="#">Water Walking Kratts</a><br/></h4>
                                    Watch as Chris and Martin try to immitate the Basilisk lizard and run on water. They quickly figure out that it is a combination of ...
                                </div>
                                <div class="clearfix">
                                    <span class="search-item-grades pull-left">Grades K-12</span>
                                    <span class="search-item-fave pull-right"><i class="lm lm-star"></i><span class="sr-only">add to favorites</span></span>    
                                </div>
                                <div class="search-item-provider">
                                    <span>Provided by:</span><br/>
                                    Wild Kratts and PBS Viewers like you with Contributions 
                                </div>
                            </div>
                        </div><div class="search-item">
                            <div class="std-wb std-mgb standardBoxShadow">
                                <figure>
                                 <a href="#"><img src="http://image.pbs.org/poster_images/assets/idptv/idptv11/idptv11_vid_d4kowl/idptv11_vid_d4kowl_l.jpg.resize.710x399.jpg" alt="<!-- django source -->"/></a>   
                                </figure>
                                
                                <div class="search-item-caption hiddden-lg clearfix"><span class="pull-left">VIDEO</span><span class="pull-right">00:15:00</span></div>
                                <div class="search-item-info">
                                    <h4><a href="#">Water Walking Kratts</a><br/></h4>
                                    Watch as Chris and Martin try to immitate the Basilisk lizard and run on water. They quickly figure out that it is a combination of ...
                                </div>
                                <div class="clearfix">
                                    <span class="search-item-grades pull-left">Grades K-12</span>
                                    <span class="search-item-fave pull-right"><i class="lm lm-star"></i><span class="sr-only">add to favorites</span></span>    
                                </div>
                                <div class="search-item-provider">
                                    <span>Provided by:</span><br/>
                                    Wild Kratts and PBS Viewers like you with Contributions 
                                </div>
                            </div>
                        </div><div class="search-item">
                            <div class="std-wb std-mgb standardBoxShadow">
                                <figure>
                                 <a href="#"><img src="http://image.pbs.org/poster_images/assets/idptv/idptv11/idptv11_vid_d4kurb/idptv11_vid_d4kurb_l.jpg.resize.710x399.jpg" alt="<!-- django source -->"/></a>   
                                </figure>
                                
                                <div class="search-item-caption hiddden-lg clearfix"><span class="pull-left">VIDEO</span><span class="pull-right">00:15:00</span></div>
                                <div class="search-item-info">
                                    <h4><a href="#">Water Walking Kratts</a><br/></h4>
                                    Watch as Chris and Martin try to immitate the Basilisk lizard and run on water. They quickly figure out that it is a combination of ...
                                </div>
                                <div class="clearfix">
                                    <span class="search-item-grades pull-left">Grades K-12</span>
                                    <span class="search-item-fave pull-right"><i class="lm lm-star"></i><span class="sr-only">add to favorites</span></span>    
                                </div>
                                <div class="search-item-provider">
                                    <span>Provided by:</span><br/>
                                    Wild Kratts and PBS Viewers like you with Contributions 
                                </div>
                            </div>
                        </div><div class="search-item">
                            <div class="std-wb std-mgb standardBoxShadow">
                                <figure>
                                 <a href="#"><img src="http://image.pbs.org/poster_images/assets/5384.JPG.resize.710x399.jpg" alt="<!-- django source -->"/></a>   
                                </figure>
                                
                                <div class="search-item-caption hiddden-lg clearfix"><span class="pull-left">VIDEO</span><span class="pull-right">00:15:00</span></div>
                                <div class="search-item-info">
                                    <h4><a href="#">Water Walking Kratts</a><br/></h4>
                                    Watch as Chris and Martin try to immitate the Basilisk lizard and run on water. They quickly figure out that it is a combination of ...
                                </div>
                                <div class="clearfix">
                                    <span class="search-item-grades pull-left">Grades K-12</span>
                                    <span class="search-item-fave pull-right"><i class="lm lm-star"></i><span class="sr-only">add to favorites</span></span>    
                                </div>
                                <div class="search-item-provider">
                                    <span>Provided by:</span><br/>
                                    Wild Kratts and PBS Viewers like you with Contributions 
                                </div>
                            </div>
                        </div><div class="search-item">
                            <div class="std-wb std-mgb standardBoxShadow">
                                <figure>
                                 <a href="#"><img src="http://image.pbs.org/poster_images/assets/5384.JPG.resize.710x399.jpg" alt="<!-- django source -->"/></a>   
                                </figure>
                                
                                <div class="search-item-caption hiddden-lg clearfix"><span class="pull-left">VIDEO</span><span class="pull-right">00:15:00</span></div>
                                <div class="search-item-info">
                                    <h4><a href="#">Water Walking Kratts</a><br/></h4>
                                    Watch as Chris and Martin try to immitate the Basilisk lizard and run on water. They quickly figure out that it is a combination of ...
                                </div>
                                <div class="clearfix">
                                    <span class="search-item-grades pull-left">Grades K-12</span>
                                    <span class="search-item-fave pull-right"><i class="lm lm-star"></i><span class="sr-only">add to favorites</span></span>    
                                </div>
                                <div class="search-item-provider">
                                    <span>Provided by:</span><br/>
                                    Wild Kratts and PBS Viewers like you with Contributions 
                                </div>
                            </div>
                        </div><div class="search-item">
                            <div class="std-wb std-mgb standardBoxShadow">
                                <figure>
                                 <a href="#"><img src="http://image.pbs.org/poster_images/assets/5384.JPG.resize.710x399.jpg" alt="<!-- django source -->"/></a>   
                                </figure>
                                
                                <div class="search-item-caption hiddden-lg clearfix"><span class="pull-left">VIDEO</span><span class="pull-right">00:15:00</span></div>
                                <div class="search-item-info">
                                    <h4><a href="#">Water Walking Kratts</a><br/></h4>
                                    Watch as Chris and Martin try to immitate the Basilisk lizard and run on water. They quickly figure out that it is a combination of ...
                                </div>
                                <div class="clearfix">
                                    <span class="search-item-grades pull-left">Grades K-12</span>
                                    <span class="search-item-fave pull-right"><i class="lm lm-star"></i><span class="sr-only">add to favorites</span></span>    
                                </div>
                                <div class="search-item-provider">
                                    <span>Provided by:</span><br/>
                                    Wild Kratts and PBS Viewers like you with Contributions 
                                </div>
                            </div>
                        </div>
                        <!--END EXTRAS-->                        
                    </div>

                    <!--/ITEM-->                    
                </div>
                <!-- PLS note the search results is needed and the form items have a different ID than the one on top -->
                <div class="search-summary std-wb standardBoxShadow">
                    900 results for &ldquo;wild kratts&rdquo;
                    <span class="pull-right">
                        <form method="GET" action="" class="sort-by-form" id="sort-by-form2">
                            <input type="hidden" name="q" value="{{ query }}"/>
                            <input type="hidden" name="selected_facets" value="{{ facet }}" />
                            <label for="id_order">Sort by : </label>
                            <select id="id_order2" name="order" onchange="this.form.submit()">
                                <option value="" selected>Relevance</option>
                                <option value="title_for_sort">A-Z Order</option>
                                <option value="-title_for_sort">Z-A Order</option>
                                <option value="-last_modified">Newest First</option>
                                <option value="last_modified">Oldest First</option>
                                <option value="-view_count">Most Viewed</option>
                                <option value="-favorite_count">Most Favorited</option>
                             </select>
                        </form>
                    </span>
                </div>
                <div class="search-img-toggle">
                    <input type="checkbox" id="hide-images2" class="hide-images-toggle" name="hide-images"
                        {% if request.session.images_on != None and not request.session.images_on %}checked="checked"{% endif %}
                    />
                    <label for="hide-images">Turn images off</label>
                </div>
                <!--BEGIN COLLECTION PG PAGINATION-->                    
                <div class="coll-pagination std-wb">
                    <ul class="no-list-style">
                    <li class="coll-prev"><a href="#prev"><i class="lm lm-left-arrow"></i>Previous</a></li>
                        <li class="pg-active">1</li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <!-- DJANGO: insert ELLIP WHEN PG COUNT >9? -->
                        <!-- DJANGO: IF ellip present then add pg-shown class to PG loop item 4-6 and pg-hidden to loop item 7-9-->
                        <li class="pg-shown"><a href="#">4</a></li>
                        <li class="pg-shown"><a href="#">5</a></li>
                        <li class="pg-shown"><a href="#">6</a></li>
                        <li class="pg-ellip ellip-shown"><a href="#" id="coll-pg-toggle">&hellip;</a></li>
                        <li class="pg-hidden"><a href="#">7</a></li>
                        <li class="pg-hidden"><a href="#">8</a></li>
                        <li class="pg-hidden"><a href="#">9</a></li>
                        <li><a href="#">10</a></li>
                    <li class="coll-next"><a href="#next">Next<i class="lm lm-right-arrow"></i></a></li>
                    </ul>
                </div>
                <!--/COLL PG PAGINATION-->
            </div>
            <!--/COLL CONTENT AREA-->
        </div>
        </main>
        <!-- END SEARCH PG -->















    <section class="container-fluid footer-holder">
                
    
    <aside role="banner" class="container resources-banners hidden-xs">
        <h4>Educational Resources featuring PBS programming</h4>
        <p class="flower">Check them out! </p>
        <div class="container-fluid">
            <ul class="row">
                <li class="col-sm-3  col-md-2">
                    <a href="/search/?q=*&selected_facets=brand_exact%3AWGBH%20Educational%20Foundation"  class="brands">
                    
                        <img src="http://d24tcib9e8meg9.cloudfront.net/media/assets/image_support/branding/logo/mono/mono_wgbh.gif" class="lap-and-up brand-img" alt="brand.display_name">
                    
                    <span class="brand-name">WGBH Educational Foundation</span>
                    </a>
                </li>
                
                <li class="col-sm-3  col-md-2">
                    <a href="/search/?q=*&selected_facets=brand_exact%3AU.S.%20Department%20of%20Education"  class="brands">
                    
                        <img src="http://d24tcib9e8meg9.cloudfront.net/media/assets/image_support/branding/logo/mono/mono_doe.gif" class="lap-and-up brand-img" alt="brand.display_name">
                    
                    <span class="brand-name">U.S. Department of Education</span>
                    </a>
                </li>
                
            </ul>
        </div>
    </aside>
    
    <section class="container-fluid social-media">
        <aside class="social-media__inner">
            <h2 class="flower hidden-xs">Connect with us for the latest LearningMedia Buzz</h2>
            <a href="http://facebook.com/pbslearningmedia" class="social-media__link"><i class="ps ps-facebook-rnd"></i>Facebook</a>
            <a href="http://twitter.com/PBSLrnMedia" class="social-media__link"><i class="ps ps-twitter-rnd"></i>Twitter</a>
            <a href="https://www.pinterest.com/pbslm/" class="social-media__link"><i class="ps ps-pinterest-rnd"></i>Pinterest</a>
            <a href="https://plus.google.com/107535210529060675394" class="social-media__link"><i class="ps ps-googleplus-rnd"></i>Google+</a> 
        </aside>
    </section>
                <footer role="contentinfo" class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-16 col-sm-5  col-md-4 col-lg-3">
                                <div class="footer-logo-container">
                                    <img class="footer-logo" src="/static/station/images/PBSLM-logo.svg" alt="PBS LearningMedia" />
                                </div>
                            </div>
                            <div class="col-xs-16 col-sm-5 col-md-3 col-lg-3 address-holder">
                                    <address class="address-data">
                                        <h3 class="address-title">Location</h3>
                                        <div class="adr">
                                            <div class="street-address">2100 Crystal Drive</div>
                                            <span class="locality">Arlington</span>,
                                            <span class="region">VA</span>
                                            <span class="postal-code">22202</span>
                                        </div>
                                    </address>
                                    <div class="partnership-holder">
                                        <p class="partnership  media-body" role="banner">A partnership with</p>
                                        <img src="/static/station/images/homepage/wgbh-logo.png" /> 
                                    </div>
                            </div>
                            <div class="hidden-xs col-sm-6  col-md-6 col-lg-6">
                                <nav class="secondary-nav" role="navigation">
                                    <ul class="secondary-nav__nav  matrix  two-cols">
                                       <li class="secondary-nav__item"><a href="#">About </a></li>
<li class="secondary-nav__item"><a href="#">Contact Us </a></li>
<li class="secondary-nav__item"><a href="#">News / Press </a></li>
<li class="secondary-nav__item"><a href="/help/terms-of-use/">Terms of Use </a></li>
<li class="secondary-nav__item"><a href="#">Partners </a></li>
<li class="secondary-nav__item"><a href="/help/privacy-policy/">Privacy Policy </a></li>
<li class="secondary-nav__item"><a href="#">Standards </a></li>
<li class="secondary-nav__item"><a href="/help/">Help </a></li>
<li class="secondary-nav__item"><a href="#">Station Information </a></li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="hidden-sm hidden-xs col-md-3 col-lg-4">
                                <section class="affiliate-logos">
                                    
                                </section>
                            </div>
                        </div>
                    </div>
                </footer>
            </section>
            <p class="copyright" role="contentinfo">&copy; 2014 PBS &amp; WGBH Educational Foundation.
            All rights reserved. </p>
        </div>
	    
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script type="text/javascript" src="/static/station/owl-carousel/owl.carousel.min.js"></script>
        <script type="text/javascript" src="/static/station/js/vendor/bootstrap.min.js"></script>
        
        <script type="text/javascript" src="/static/station/js/pbslm.responsive.js"></script>
        
        
        
	
    </body>
</html>
